Требования
Проект: «пчела» (bee)
Результат: 
	Я могу сделать покупку, создав корзину товаров сразу из нескольких торговых точек, оптимизировав затраты денежные и времени на процесс покупки. 
Дополнительно: 
	Пользователь может выбирать из зарегистрированных им торговых точек и предложенных системой. Составив список торговых точек, пользователь набрасывает список покупок или смету. Затем рассчитывает оптимальный вариант покупки с учётом стоимости доставки или времени на самовывоз товара. Корзина наполняется автоматически или под руководством пользователя. Имеются настройки оптимальности наполнения корзины. пользователь 
