Требования
Проект: «пчела» (bee)
Результат: 
	Я могу сделать покупку, создав корзину товаров сразу из нескольких торговых точек, оптимизировав затраты денежные и времени на процесс покупки. 
Дополнительно: 
	. 
